<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="/static/style.css">
    <script defer src="/static/Timeline.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Bruna Bursi</title>
</head>

<body>
    <header>
        <img src="/static/img/icon.jpg" alt="Nome" class="icon">
        <div>
            <a href="">Timeline</a>
            <a href="">Contacts</a>
            <a href="">Linkedin</a>        
        </div>       
        
    </header>
    <section class="about">
        <div>
                <h1>
                        About me 
                    </h1>
                    <p>
                        A bookworm, backpacker and tech nerd. I belive technology has the power to transform people's life and change the world. As I have experienced a huge twist in my life once I started developing softwares I have the urge to spread this knoledge and keep looking up for more. 
                    </p>
            
        </div>        
        <img src="/static/img/perfil.jpg" alt="Perfil" class="perfil">            
    </section>

    <div class="new">
        <h1>
            Whats new?
        </h1>
        <p>
            Bussiness administration student and junior front end developer. 
            Fell in love with web developing after beeing aprooved on the "Estação Hack São Paulo from Facebook" program where I had the oportunity to develop projects in HTML5, CSS and Javascript. For more infos about my projects please visit my <a href="">GitHub</a> or take a look at my <a href="">Bio Timeline</a>
        </p>
    </div>
    
    <%-include('./Timeline')%>
    
</body>
</html>