<div class="">
  <div class="container">
    <h2 class="pb-3 pt-2 border-bottom mb-5">Bruna's Life Timeline</h2>
    <!--first section-->
    <div class="row align-items-center how-it-works d-flex">
      <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">1</div>
      </div>
      <div class="col-6">
        <h5>05/06/1993</h5>
        <p>This was the day that baby Bruna did her first 'Hello World'. I was born in São José do Rio Preto-SP but soon moved next to the beach with my parents, Santos-SP, where I spent most part of my life.</p>
      </div>
    </div>
    <!--path between 1-2-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner top-right"></div>
      </div>
      <div class="col-8">
        <hr/>
      </div>
      <div class="col-2">
        <div class="corner left-bottom"></div>
      </div>
    </div>
    <!--second section-->
    <div class="row align-items-center justify-content-end how-it-works d-flex">
      <div class="col-6 text-right">
        <h5>USA - 2007</h5>
        <p>In 5th grade I recived my first bad avaluation in school, it was in English. Because of that I started taking English classes and loved it so much that few years later I took a culture trip to US to improove my speach and listening</p>
      </div>
      <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">2</div>
      </div>
    </div>
    <!--path between 2-3-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner right-bottom"></div>
      </div>
      <div class="col-8">
        <hr/>
      </div>
      <div class="col-2">
        <div class="corner top-left"></div>
      </div>
    </div>
    <!--third section-->
    <div class="row align-items-center how-it-works d-flex">
      <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
        <div  class="circle font-weight-bold">3</div>
      </div>
      <div class="col-6">
        <h5>Nurse experiment</h5>
        <p>In 2012 I got in to Nurse school. It was a huge experience for me. I felt like helping society and getting to know more about the human being. Did some internships in many hospital and UBS (Basic Units of Health) in the "ABC area" (Sto André, S. Bernardo and S. Caetano, cities in the state of SP). During the college I won an international internship from the bank Santander, the Ibero-Americano program, and could see how it is to live abroad. I chose to go to Spain and spent four months working in a hospital, San Carlos II, in Madrid. I had the chance to travel a lot, meet many special people and finally could learn Spanish properly.</p>
      </div>  
    </div>
    <!--path between 3-4-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner top-right"></div>
      </div>
      <div class="col-8">
        <hr/>
      </div>
      <div class="col-2">
        <div class="corner left-bottom"></div>
      </div>
    </div>    <!--fourth section-->
    <div class="row align-items-center justify-content-end how-it-works d-flex">
      <div class="col-6 text-right">
        <h5>Business Administration</h5>
        <p>Sometimes we take a path and we love the trip but can't help to feel that is not exactly where you belong, and that is how I felt about being a nurse after sometime. So I decided to take my chance on the Business area. I started another college course in 2017 in Business Administration, I got a new job as Administrative Analyst in a Telemarketing company and in this experience I could improve my leadership and management skills.</p>
      </div>
      <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">4</div>
      </div>
    </div>
    <!--path between 4-5-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner right-bottom"></div>
      </div>
      <div class="col-8">
        <hr/>
      </div>
      <div class="col-2">
        <div class="corner top-left"></div>
      </div>
    </div>
    <!--fifth section-->
    <div class="row align-items-center how-it-works d-flex">
      <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">5</div>
      </div>
      <div class="col-6">
        <h5>Code Girl</h5>
        <p>As I was looking for what opportunities the business area could bring to my life I fell in love for developing codes. This twist in my life started in june of 2018 when I've been aproved for a course of learning how to code in the Hack Station São Paulo from Facebook. The course is taught by the Mastertech academy and from the very beggining I was coding and loving to do it. I belive this is the path that I belong, mainly because technology knows no boundaries or limits and I can always be looking for new ways to reinvent myself with it. Up to now I've been NINJA (Need Info Just Ask) for the Mastertech in some short programs to help them to keep spreading technology and coding for people who, like me, never even imagined developing aplications and websites and did some front-end developing.</p>
      </div>
    </div>
  </div>
</div>