<section>
	<div id="timeline">
		<div class="container">
			
			<div class="tl-block">
				<div class="tl-event">
					<div class="event-l">
						<div>
							<h3><time datatime="2018">2018</time> Estação Hack</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget mi ullamcorper, pulvinar tortor at, mattis tellus. Nunc fermentum vestibulum posuere. Ut nec bibendum arcu</p>
						</div>
					</div>
				</div><!-- /. tl-event -->
			</div><!-- /. tl-block -->
		</div><!-- /. container -->
		
		<div class="tl-block">
			<div class="tl-event">
				<div class="event-r">
					<div>
						<h3><time datatime="2016">2016</time> FFB TLMK</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget mi ullamcorper, pulvinar tortor at, mattis tellus. Nunc fermentum vestibulum posuere. Ut nec bibendum arcu</p>
					</div>
				</div>
			</div><!-- /. tl-event -->
		</div><!-- /. tl-block -->
		
		<div class="tl-block">
			<div class="tl-event">
				<div class="event-r">
					<div>
						<h3><time datatime="2015">2015</time> Madrid</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget mi ullamcorper, pulvinar tortor at, mattis tellus. Nunc fermentum vestibulum posuere. Ut nec bibendum arcu</p>
					</div>
				</div>
			</div><!-- /. tl-event -->
		</div><!-- /. tl-block -->
		
		<div class="tl-block">
			<div class="tl-event">
				<div class="event-l">
					<div>
						<h3><time datatime="2012">2012</time> FMABC</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget mi ullamcorper, pulvinar tortor at, mattis tellus. Nunc fermentum vestibulum posuere. Ut nec bibendum arcu</p>
					</div>
				</div>
			</div><!-- /. tl-event -->
		</div><!-- /. tl-block -->
		
		<div class="tl-block">
			<div class="tl-event">
				<div class="event-l">
					<div>
						<h3><time datatime="2009">2009</time> EUA</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget mi ullamcorper, pulvinar tortor at, mattis tellus. Nunc fermentum vestibulum posuere. Ut nec bibendum arcu</p>
					</div>
				</div>
			</div><!-- /. tl-event -->
		</div><!-- /. tl-block -->
		
		<div class="tl-block">
			<div class="tl-event">
				<div class="event-r">
					<div>
						<h3><time datatime="2008">2008</time> Primeiro emprego</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget mi ullamcorper, pulvinar tortor at, mattis tellus. Nunc fermentum vestibulum posuere. Ut nec bibendum arcu</p>
					</div>
				</div>
			</div><!-- /. tl-event -->
		</div><!-- /. tl-block -->
		
		<div class="tl-block">
			<div class="tl-event">
				<div class="event-l">
					<div>
						<h3><time datatime="1993">1993</time>The beggining</h3>
						<img src="" alt="Baby Bruna">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget mi ullamcorper, pulvinar tortor at, mattis tellus. Nunc fermentum vestibulum posuere. Ut nec bibendum arcu</p>
					</div>
				</div>
			</div><!-- /. tl-event -->
		</div><!-- /. tl-block -->
	</div><!-- /. timeline -->
</section>
