body {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  color: #383838;
  background-image: url('/static/img/bg.jpg');
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  
}

header{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0;
}

#icon{
  font-family: 'Shadows Into Light', cursive;
  padding: 0;
  font-weight: lighter;
  font-size: 55px;
  color: whitesmoke;
  
}

header div{
  background-color:  rosybrown;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

h1{
  padding: 20px 0;
  font-weight: bold;
  font-size: 2rem;
}

header a{
  text-decoration: none;
  color: black;
}

header div a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  font-style: normal;
} 

header a:hover{
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}

/* #menu{
  top: 0;
  overflow: hidden;
} */

/* Dropdowns Social Start */

a:not([href]):not([tabindex]){
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px;
}

a:not([href]):not([tabindex]):hover{
  text-decoration: none;
  color: whitesmoke;
  
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rosybrown;
  width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Dropdown Social End */

a{
  font-style: italic;
  color: black;
}

a:hover{
  color: rosybrown;
  text-decoration: none;
}
.about{
  background-color: rgba(254, 245, 254, 0.7);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.about div{
  width: auto;
  text-align: justify;
  padding: 10px;
}

#me{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.perfil{   
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.parte{
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 0;
}

.parte h1{
  background-color: rgba(254, 245, 254, 0.7);
  width: max-content;
  border-radius: 0px 20px 0 0;
  margin: 0;
  padding: 10px 10px 0;
}

.parte p{
  background-color: rgba(254, 245, 254, 0.7);
  margin: 0;
  padding: 20px;
  width: 100%;
  line-height: 40px;
}

#cntts{
  display: flex;
  flex-direction: column;
}

#tmln{
    margin: 0;
  padding: 20px;
  width: 100%;
  margin: 40px 0;
  display: flex;
  align-items: center;
}


@media (min-width: 500px){
  .about{
    flex-direction: column;
  }
  #me{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

